<<<<<<< HEAD
@import url("colors.css");

:root {
  color: white;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-heliotrope-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-coquelicot);
  border-radius: 5px;
}

body {
  margin: 0;
  background-color: var(--color-raisin-black);
}
=======
@import './base.css';

::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.7);
  border-radius: 10px;
  border: 3px solid rgba(0,0,0,0);
}
>>>>>>> v2/master
